{{outlet}}

        <div class="row">
        <div class="row result">
          Rapid Cash
        </div>
           <div class="container">
             <div class="account-wall">

                <div align="center">
                        <div class="row">

                            <div class="col-sm-6">
                                <button class="btn btn-orange"  {{action 'admin'}}>ADMIN</button><br><br><br>
                            </div>

                            <div class="col-sm-6">

                                 <label class="col-md-2 control-label" style="color:black"  for="name">EMPLOYEE ID </label><br><br>
                                {{input type="number"  class="form-control"  placeholder="employee ID" value=employeeId}}<br><br><br>   
                                <button class="btn btn-orange"  {{action 'employee'}}>EMPLOYEE</button>
                            </div>
                            </div>
                            </div>

 
        </div>
        </div>
        </div>